* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {   
    font-family: "Comic Sans MS", cursive, sans-serif;  

}


.clr {
    clear: both;
}


/* Navbar */

#navbar {
    background-color:  #4f5557a1;
    
    color: #DFDCE1;
    height: 62px;
    position: sticky;
    top: 0px;
    overflow: hidden;

}

.logo {
    float: left;
    padding-left: 20px;
    font-size: 20px;
    padding-top: 4px;

}

#navbar .logo a {
    color: #DFDCE1;
}


#navbar h1 {
    float: left;

}

#navbar ul {
    float: right;
    overflow: hidden;
    padding: 17px;
    font-size: 20px;

}

#navbar ul li {
    float: left;
    padding-right: 30px;
    list-style-type: none;

}

#navbar ul li a {
    text-decoration: none;
    color: #DFDCE1;

}

#navbar ul li a:hover {
    color: #cbc7ce

}

.cart-counter-container {
    width: 18px;
    height: 22px;
    text-align: center;
    padding-bottom: -30px;
    padding-top: -30px;
    border: 1px solid #dfdce18c;
    position: absolute;
    top: 4px;
    right: 25px;

}

.cart-counter {
    font-size: 17px;
    width: 0;
    height: 0;

}


/* Slideshow */

#slideshow {
    background-image: url("../images/SesameCoconutPopsicles-5.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100%;
    padding-top: 70px;
    background-attachment: fixed;

}

.outside-container {
    width: 90%;
    background-color: #a9a5a44e;
    padding: 70px;
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;

}

.outside-container h1 {
    color: #4B2526;
    text-align: center;
    font-size: 60px;

}


.outside-container .middle-container {
    width: 90%;
    background-color: #a9a5a472;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    overflow: hidden;

}


.outside-container .middle-container .inside-container {
    width: 100%;
    padding: 40px;
    font-size: 35px;
    margin-left: auto;
    margin-right: auto;
    color: #4B2526;
    overflow: hidden;
    padding-left: 90px;
 
}


.outside-container .middle-container .inside-container input, textarea {
    width: 100%;
    padding: 10px;

}


/* Home Page */

.outside-container .middle-container .inside-container .item {
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    width: 23%;
    height: 700px;
    float: left;
    background-color: #a9a5a497;
    color: #283332; 
    font-size: 20px;
    overflow: hidden;

}

.outside-container .middle-container .inside-container .item .item-info-container {
    overflow: hidden;

}

.outside-container .middle-container .inside-container .item img {
    margin-left: auto;
    margin-right: auto;

}


.outside-container .middle-container .inside-container .item strong {
    font-size: 30px;
    font-style: normal;

}

.outside-container .middle-container .inside-container .item strong a {
    color: #4B2526;
    text-decoration: none;

}

.outside-container .middle-container .inside-container .item strong a:hover {
    color: #4b2526c8;

}

.outside-container .middle-container .inside-container .currency {
    font-style: normal;

}

.outside-container .middle-container .inside-container .item .btn-container  #btn-text {
    padding-top: 10px;

}


.outside-container .middle-container .pages-btn-container {
    text-align: center;

}

.outside-container .middle-container .pages-btn-container ul{
    list-style-type: none;
    text-align: center;

}

.outside-container .middle-container .pages-btn-container ul .single-page-container .pages {
    border: 3px solid #4f55578c; 
    padding: 5px;
    margin: 5px;
    
}

.outside-container .middle-container .pages-btn-container ul .single-page-container .pages {
    float: left;
    padding-left: 5px;
    padding-right: 5px;

}

.outside-container .middle-container .pages-btn-container ul .single-page-container a {
    text-decoration: none;
    color: #4f5557c7;

}

.outside-container .middle-container .pages-btn-container ul .single-page-container a:hover {
    color: #4f555777;

}

.outside-container .middle-container .pages-btn-container ul .single-page-container .pages span {
    color: #DFDCE1;

}


/* Detail Page */

.outside-container .middle-container .inside-container .left-slide {
    float: left;

}

.outside-container .middle-container .inside-container .right-slide {
    float: right;

}

.outside-container .middle-container .inside-container .left-slide h2 {
    padding-bottom: 30px;

}

.outside-container .middle-container .inside-container .item a, .clr a, .btn-state a {
    text-decoration: none;
    color: #DFDCE1;
    padding-top: 15px;

}

.outside-container .middle-container .inside-container .left-slide del {
    color: #626668;
    padding-left: 20px;

}

.outside-container .middle-container .inside-container .clr .btn-container .btn {
    padding-top: 15px;

}


/* Login Page */

.outside-container .middle-container .inside-container .btn-access-to-account-container{
    padding-top: 20px;

}


.outside-container .middle-container .inside-container .btn-access-to-account-container p {
    font-size: 25px;
    float: left;
    padding-top: 10px;
    padding-right: 10px;

}

.outside-container .middle-container .inside-container .btn-access-to-account-container .btn-sign-up {
    padding-bottom: 60px;

}

.outside-container .middle-container .inside-container .btn-access-to-account-container .btn-access-to-account a {
    font-size: 25px;
    text-decoration: none;
    color: #DFDCE1;

}


/* Cart Page */

.outside-container .middle-container .inside-container table {
    width: 100%;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;

}

    /* Table Head */

.outside-container .middle-container .inside-container table thead {
    background-color: #a9a5a483;

}

.outside-container .middle-container .inside-container table thead tr th {
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    margin-left: 40px;
    margin-right: 20px;

}

.outside-container .middle-container .inside-container table .head-remove {
    width: 6%;

}

.outside-container .middle-container .inside-container table .head-product-image {
    float: left;

}

.outside-container .middle-container .inside-container table .head-product-info {
    width: 31%;
    text-align: center;

}

.outside-container .middle-container .inside-container table .head-quantity-and-price {
    float: right;
    margin-left: 90px;

}

    /* Table Body */

.outside-container .middle-container .inside-container table tbody tr td {
    padding-top: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #4b252677;

}

.outside-container .middle-container .inside-container table tbody tr .product-remove td  {
    margin-left: auto;
    color: rgb(238, 226, 247);

}

.outside-container .middle-container .inside-container table tbody tr td a, .product-quantity a {
    color: #DFDCE1;

}

.outside-container .middle-container .inside-container table tbody tr td a:hover, .product-quantity a:hover {
    color: #4f5557a1;

}



.outside-container .middle-container .inside-container .cost-overview {
    width: 540px;
    height: 270px;
    background-color: #a9a5a483;
    color: #494d4e;
    text-align: right;
    padding: 20px;
    margin-top: 50px;
    float: right;
    border: 1px solid #4f55570e;

}

.outside-container .middle-container .inside-container .cost-overview ul li {
    list-style-type: none;
    padding-top: 20px;
    padding-bottom: 30px;

}

.outside-container .middle-container .inside-container .cost-overview ul li samp {
    float: left;

}

.outside-container .middle-container .inside-container .cost-overview ul li span {
    float: right;

}

.outside-container .middle-container .inside-container .cost-overview ul .Shipping {
    padding-bottom: 70px;
    border-bottom: 1px solid #494d4e7e;
    margin-bottom: 20px;

}

.outside-container .middle-container .inside-container .cost-overview ul .Total {
    padding-top: 30px;

}

.outside-container .middle-container .inside-container .clr .btn-container #btn-font-resize a{
    font-size: 20px;

}


/* Buttons */

.btn-container {
    text-align: center;
    padding-top: 40px;
    
}

.btn {
    width: 230px;
    height: 60px;
    font-size: 22px;
    background-color: #4b2526c6;
    color: #DFDCE1;
    border: 0px solid ;
    border-radius: 8px;

}

.btn:hover {
    background-color: #4B2526;
    cursor: pointer;

}

.btn-up {
    float: right;
    position: fixed;
    width: 70px;
    height: 70px;
    bottom: 100px;
    right: 160px;
}

.btn-state {
    text-align: center;
    padding-top: 15px;
    margin-top: 25px;
    width: 230px;
    height: 60px;
    font-size: 22px;
    background-color: #626668b9;
    border: 0px solid ;
    border-radius: 8px;
}

.btn-state:hover {
    background-color: #626668;
    cursor: pointer;

}

/* Footer */

footer {
    background-color:  #626668b9;
    color: #DFDCE1;
    height: 60px;
    text-align: center;
    padding: 20px;
    background-attachment: fixed;

}


