{% extends 'base.html' %}

{% block title%}
Popsicles Store | Add Popsicle
{% endblock %}


{% block body %}

<div class="outside-container">
        
    <div class="middle-container" >

        <h1>Add Popsicle</h1>
        
            <div class="inside-container">

                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{form.as_p}}
                        <div class="btn-container"><input type="submit" name="add-popsicle" value="Add Popsicle" class="btn"></div>
                    </form>
                
            </div>
    </div>

</div>

{% endblock %}