{% extends 'base.html' %}

{% block title%}

Popsicles Store | Contact

{% endblock %}


{% block body %}

<div class="outside-contsiner">

    <div class="middle-contsiner" >

        <h1>Need help ? We're here for you !</h1>
            
        <div class="inside-contsiner">

            <form action="" method="POST">
                    {% csrf_token %}
                    {{form.as_p}}
                    <div class="btn-contsiner"><input type="submit" name="send-message" value="Send Now" class="btn"></div>
            </form>

        </div>

    </div>

</div>

{% endblock %}