{% extends 'base.html' %}

{% block title%}

Popsicles Store | {{popsicle.name}}

{% endblock %}


{% block body %}

<div class="outside-container">

    <div class="middle-container">
            
        <div class="inside-container">

            <div class="left-slide">

                <h2>{{popsicle.name}}</h2>
                <p><strong>Flavor : </strong>{{popsicle.flavor}}</p>
                {% if popsicle.discount_price %}
                <p><strong>Price : </strong>{{popsicle.discount_price}} <em class="currency">SR</em> <del>{{popsicle.price}} <em class="currency">SR</em></del></p>
                {% else %}
                <p><strong>Price : </strong>{{popsicle.price}} <em class="currency">SR</em></p>
                {% endif %}
                <p><strong>Description : </strong>{{popsicle.description}}</p>

            </div>

            <div class="right-slide">
                <img src="{{ popsicle.picture.url }}" width="500">
            </div>

            <div class="clr">
                <div class="btn-container">
                    <div class="btn"><a href="{{ object.get_add_to_cart_url }}">Add to Cart</a></div>
                </div>
            </div>
            {% if request.user.is_superuser %}

            <div class="btn-state"><a href="{% url 'update-popsicle-data' popsicle.id %}">Update Popsicle</a></div>
            <div class="btn-state"><a href="{% url 'delete-popsicle' popsicle.id %}">Delete Popsicle</a></div>

            {% endif %}
                
        </div>

    </div>

</div>

{% endblock %}